@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');


.Bienvenido_div_txt{
    margin-left: -10px;
    font-family: 'Shadows Into Light', cursive;

}

h2{
    text-indent: 0px;

}

p{
    font-size: 22px;
}
